[user]
	name = 
	email = 
[core]
	editor = vim
[alias]
	br = branch
	ci = commit
	co = checkout
	di = diff
	dc = diff --cached
	dt = difftool
	mt = mergetool
	ol = log --oneline --decorate
	st = status
	unstage = reset HEAD --
	sl = stash list
	ss = show --stat
	pr = pull --rebase
	au = update-index --assume-unchanged
	nau = update-index --no-assume-unchanged
[color]
	ui = true
[diff]
	tool = p4merge
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[push]
	default = simple
